

/* * */
/* inputWithIcon */

.icon {
cursor: pointer;
}


/* * */
/* label wrapper */

.labelWrapper {
	display: inline-flex;
	gap: var(--size-spacing-xs);
	align-items: center;
}

/* * */

/* * */
/* Proposed Change Item Content Wrapper */

.proposedChangeItemWrapper {
	display: inline-flex;
	gap: var(--size-spacing-md);
}

/* * */