/* * */
/* CONTAINER */

.container {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-sm);
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: var(--size-spacing-xs) var(--size-spacing-md) var(--size-spacing-xs) var(--size-spacing-xs);
	cursor: pointer;
	user-select: none;
	border-radius: var(--border-radius-sm);
}

/* * */
/* ICON */

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	aspect-ratio: 1;
	font-size: 30px;
	color: var(--color-system-text-100);
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: var(--border-radius-sm);
}

.container:hover {
	background-color: var(--color-system-background-200);
}

.container[data-active='true'],
.container[data-active='true']:hover {
	color: var(--color-contrast);
	pointer-events: none;
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.container[data-disabled='true'],
.container[data-disabled='true']:hover {
	color: var(--color-system-text-100);
	pointer-events: none;
	cursor: not-allowed;
	background-color: transparent;
	opacity: 0.25;
}
