/* * */
/* ATTRIBUTION */

.attribution {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	gap: var(--size-spacing-5);
	padding: var(--size-spacing-5) var(--size-spacing-10);
	font-size: 8px;
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	color: var(--color-system-text-300);
}

.attribution a:hover {
	color: var(--color-primary-black);
	text-decoration: underline;
}