.root {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-md);
}

/* Default styles for the container */
.surface {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-system-border-100);
    gap: var(--size-spacing-md);
}

/* Border Radius Styles */
.borderRadius-none {
    border-radius: 0;
}
.borderRadius-sm {
    border-radius: var(--border-radius-sm);
}
.borderRadius-md {
    border-radius: var(--border-radius-md);
}
.borderRadius-lg {
    border-radius: var(--border-radius-lg);
}
.borderRadius-xl {
    border-radius: var(--border-radius-xl);
}

/* Padding Styles */
.padding-none {
    padding: 0;
}
.padding-sm {
    padding: var(--size-spacing-sm);
}
.padding-md {
    padding: var(--size-spacing-md);
}
.padding-lg {
    padding: var(--size-spacing-lg);
}
.padding-xl {
    padding: var(--size-spacing-xl);
}

/* Divider Styles */
.divider {
    border: 1px solid var(--color-system-border-100);
}

/* Variant Styles */
.default {
    background-color: var(--color-system-background-100);
    border-color: var(--color-system-border-100);
    color: var(--color-system-text-100);
}
.primary {
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
    color: var(--color-contrast);
}
.secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    color: var(--color-contrast);
    color: var(--color-contrast);
}

/* Gap Styles */
.gap-none {
    gap: 0;
}
.gap-sm {
    gap: var(--size-spacing-sm);
}
.gap-md {
    gap: var(--size-spacing-md);
}
.gap-lg {
    gap: var(--size-spacing-lg);
}
.gap-xl {
    gap: var(--size-spacing-xl);
}