:root[data-theme="ocean"] {
	--color-primary: #005ADC;
	--color-secondary: #0041A0;
	--color-background: #E6F0FF;
	--color-contrast: #FFF;
	--color-shadow: #000A5040;
}

@media (prefers-color-scheme: dark) {
	:root[data-theme="ocean"] {
		--color-primary: #2864B9;
		--color-secondary: #1E4B96;
		--color-background: #1E283C;
		--color-contrast: #CDE1FF;
		--color-shadow: #00083D40;
	}
}
