:root[data-theme="park"] {
	--color-primary: #7dcd7d;
	--color-secondary: #50b450;
	--color-background: #e6ffe6;
	--color-contrast: #ffffff;
	--color-shadow: #1e3c1e40;
}

@media (prefers-color-scheme: dark) {
	:root[data-theme="park"] {
		--color-primary: #509b50;
		--color-secondary: #2d8c2d;
		--color-background: #233223;
		--color-contrast: #e6ffdc;
		--color-shadow: #1e3c1e40;
	}
}
