.root {
    max-width: 100%;
}

.tableWrapper {
    max-width: 100%;
    overflow-x: auto;
    color: var(--color-system-text-100);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableBody {
    overflow-y: auto;
}
