/* * */
/* ROOT */

.root {
	display: flex;
	gap: var(--size-spacing-md);
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--size-spacing-md);
	border-radius: var(--border-radius-sm);
}

/* * */
/* PROPS / VARIANT */

.root[data-variant='secondary'] {
	color: var(--color-primary);
	background-color: var(--color-background);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.root[data-variant='muted'] {
	color: var(--color-system-text-300);
	background-color: var(--color-system-background-100);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
}

.root[data-variant='disabled'] {
	color: var(--color-system-border-100);
	cursor: not-allowed;
	background-color: var(--color-system-background-200);
	box-shadow: unset;
}

.root[data-variant='danger'] {
	color: var(--color-status-danger-primary);
	background-color: var(--color-status-danger-contrast);
	box-shadow: 0 1px 3px 0 var(--color-status-danger-shadow);
}