.checkbox {
	width: 100%;
	padding: 6px;
	padding-right: 10px;
	cursor: pointer;
	border-radius: 3px;
}

.checkbox:hover {
	background-color: var(--color-system-background-200);
}

.label {
	padding-top: 4px;
	padding-left: 8px;
	line-height: 1;
}