/* stylelint-disable selector-class-pattern */
/* stylelint-disable unit-allowed-list */

* {
	font-family: "Work_Sans", sans-serif;
}

body {
	height: 100vh;
}

:root {


	/* COLOR / SYSTEM / BACKGROUND */

	--color-system-background-100: #FFF;
	--color-system-background-200: #F6F8FA;
	--color-system-background-300: #F0F0F0;


	/* COLOR / SYSTEM / BORDER */

	--color-system-border-100: #E1E1E6;


	/* COLOR / SYSTEM / TEXT */

	--color-system-text-100: #000;
	--color-system-text-200: #646482;
	--color-system-text-300: #BEBEC8;


	/* COLOR / STATUS / SUCCESS */

	--color-status-success-primary: #00B932;
	--color-status-success-contrast: #E6FAEB;


	/* COLOR / STATUS / WARNING */

	--color-status-warning-primary: #F09600;
	--color-status-warning-contrast: #FFFAF0;


	/* COLOR / STATUS / DANGER */

	--color-status-danger-primary: #D20F1E;
	--color-status-danger-contrast: #FFEBEB;
	--color-status-danger-shadow: #d20f1f40;


	/* FONT / WEIGHT */

	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-medium: 500;


	/* * */
	/* * */
	/* * */



	--color-status-info-primary: #054b8c;
	--color-status-info-contrast: #e6f0fa;
	--color-status-active-primary: #006eff;
	--color-status-active-contrast: #e6f5ff;

	/* * */
	/* COLOR / BRAND */

	--color-brand-go-100: #00ffbe;
	--color-brand-go-200: #00a082;
	--color-brand-navegante-100: #fd0;
	--color-brand-navegante-200: #f9b428;
	--color-brand-navegante-300: #f18b2d;
	--color-brand-cmet-100: #fd0;
	--color-brand-cmet-200: #000;
	--color-brand-metro-100: #e43c2f;
	--color-brand-metro-200: #fff;
	--color-brand-ccfl-100: #ffd400;
	--color-brand-ccfl-200: #19478e;
	--color-brand-cb-100: #2a9057;
	--color-brand-cb-200: #fff;

	/* * */
	/* SIZE / WIDTH */

	--size-max-width-viewport: 1200px;
	--size-max-width-text: 700px;

	/* * */
	/* SIZE / HEIGHT */

	--size-height-header: 71px; /* Default SSR value */

	/* * */
	/* SIZE / SPACING */

	--size-spacing-xs: 0.3125rem; /* 5px */
	--size-spacing-sm: 0.625rem; /* 10px */
	--size-spacing-md: 0.9375rem; /* 15px */
	--size-spacing-lg: 1.25rem; /* 20px */
	--size-spacing-xl: 1.5625rem; /* 25px */
	--size-spacing-2xl: 1.875rem; /* 30px */
	--size-spacing-3xl: 2.5rem; /* 40px */
	--size-spacing-4xl: 3.75rem; /* 60px */


	/* FONT / SIZE */

	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */

	/* * */
	/* FONT / LINE-HEIGHT */

	--font-line-height: 1.4;

	/* * */
	/* BORDER-RADIUS */

	--border-radius-xs: 3px;
	--border-radius-sm: 5px;
	--border-radius-md: 10px;
	--border-radius-lg: 18px;
	--border-radius-xl: 30px;
	--border-radius-full: 100%;

	/* * */
	/* SIDEBAR */

	--sidebar-max-width: 250px;
	--sidebar-min-width: 50px;
	--sidebar-transition-duration: 0.3s;
	--sidebar-transition-timing-function: ease-in-out;

	/* * */
	/* Breakpoints */

	--breakpoint-mobile: 901px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 900px;
}

@media (prefers-color-scheme: dark) {
	:root {

		/* * */
		/* COLOR / SYSTEM */

		--color-system-background-100: #19191e;
		--color-system-background-200: #27272d;
		--color-system-background-300: #0f0f19;
		--color-system-text-100: #dcdce6;
		--color-system-text-200: #82828c;
		--color-system-text-300: #464650;
		--color-system-border-100: #37373c;

		/* * */
		/* COLOR / STATUS */

		--color-status-info-primary: #054b8c;
		--color-status-info-contrast: #051e3c;
		--color-status-success-primary: #329150;
		--color-status-success-contrast: #052314;
		--color-status-warning-primary: #be781e;
		--color-status-warning-contrast: #2d1e05;
		--color-status-danger-primary: #c83c3c;
		--color-status-danger-contrast: #2d0505;
		--color-status-active-primary: #2d64c8;
		--color-status-active-contrast: #051e41;

		/* * */
		/* COLOR / BRAND */

		--color-brand-go-100: #00ffbe;
		--color-brand-go-200: #00a082;
		--color-brand-navegante-100: #fd0;
		--color-brand-navegante-200: #f9b428;
		--color-brand-navegante-300: #f18b2d;
		--color-brand-cmet-100: #fd0;
		--color-brand-cmet-200: #000;
		--color-brand-metro-100: #e43c2f;
		--color-brand-metro-200: #fff;
		--color-brand-ccfl-100: #ffd400;
		--color-brand-ccfl-200: #19478e;
		--color-brand-cb-100: #2a9057;
		--color-brand-cb-200: #fff;
	}
}

/* * */

@media (prefers-color-scheme: dark) {
	:root {

		/* * */
		/* COLOR / SYSTEM */

		--color-system-background-100: rgb(40 40 50);
		--color-system-background-200: rgb(30 30 40);
		--color-system-background-300: rgb(10 10 20);
		--color-system-border-100: rgb(60 60 65);
		--color-system-border-200: rgb(80 80 85);
		--color-system-text-100: rgb(255 255 255);
		--color-system-text-200: rgb(200 200 210);
		--color-system-text-300: rgb(150 150 165);
		--color-system-text-400: rgb(100 100 110);

		/* * */
		/* COLOR / STATUS */

		--color-status-info-background: #3c495d;
		--color-status-info-border: #525868;
		--color-status-info-text: #84c1fb;
		--color-status-info-shadow: #6bb5fa80;
		--color-status-ok-background: #ebf5eb;
		--color-status-ok-border: #d7ebd7;
		--color-status-ok-text: #2d8c3c;
		--color-status-ok-shadow: #2d8c3c80;
		--color-status-warning-background: #fffaf5;
		--color-status-warning-border: #fff0d7;
		--color-status-warning-text: #f09600;
		--color-status-warning-shadow: #f0960080;
		--color-status-danger-background: #fff5f5;
		--color-status-danger-border: #fae6dc;
		--color-status-danger-text: #e64b23;
		--color-status-danger-shadow: #e64a2380;

		/* * */
		/* COLOR / ALERTS */

		--color-alerts-0: #3d85c6;
		--color-alerts-1: #00cd32;
		--color-alerts-2: #f5a000;
		--color-alerts-3: #e64b23;
	}
}

/* * */

.hidden {
	display: none;
}

.fullWidth {
	width: 100% !important;
}

/* * */

.theme-light {
	display: contents;
}

@media (prefers-color-scheme: dark) {
	.theme-light {
		display: none;
	}
}

.theme-dark {
	display: contents;
}

@media (prefers-color-scheme: light) {
	.theme-dark {
		display: none;
	}
}

/* * */

breakpoint-desktop {
	display: contents;
}

@media only screen and (width <= 900px) {
	breakpoint-desktop {
		display: none;
	}
}

breakpoint-mobile {
	display: contents;
}

@media only screen and (width >= 901px) {
	breakpoint-mobile {
		display: none;
	}
}

/* * */

@media screen and (width <= 650px) {
	:root {

		/* * */
		/* FONT */

		--font-size-heading: 26px;
		--font-size-title: 20px;
		--font-size-text: 14px;
		--font-size-muted: 12px;
	}
}
