.button {
    transition: all 300ms ease-in;
    border: 2px solid transparent;
    border-radius: var(--border-radius-xs);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    width: fit-content;
    box-shadow: 0 1px 3px 0 var(--color-shadow);
    min-width: fit-content;
}

.fontxs {
    font-size: var(--font-size-xs);
}

.fontsm {
    font-size: var(--font-size-sm);
}

.fontbase {
    font-size: var(--font-size-base);
}

.fontlg {
    font-size: var(--font-size-lg);
}

.fontxl {
    font-size: var(--font-size-xl);
}

.tag {
    padding: var(--size-spacing-md) var(--size-spacing-lg);
    border-width: 0;
}

.pill {
    padding: 2px 10px;
    border-width: 2px;
    border-radius: var(--border-radius-xl);
}

.fullWidth {
    width: 100%;
}

.primary {
	background-color: var(--color-background);
    border-color: var(--color-primary);
	color: var(--color-primary);
}

.primary[data-active="true"] {
	background-color: var(--color-primary);
    color: var(--color-contrast);
}

.secondary {
	background-color: var(--color-background);
    border-color: var(--color-secondary);
	color: var(--color-secondary);
}

.secondary[data-active="true"] {
	background-color: var(--color-secondary);
    color: var(--color-contrast);
}

.muted {
    background-color: var(--color-system-background-200);
    border-color: var(--color-system-text-100);
	color: var(--color-system-text-100);
}

.disabled {
    background-color: var(--color-system-background-300);
    border-color: var(--color-system-text-300);
    color: var(--color-system-text-300);
}

.danger {
	background-color: var(--color-status-danger-contrast);
    border-color: var(--color-status-danger-primary);
	color: var(--color-status-danger-primary);
}

.danger[data-active="true"] {
	background-color: var(--color-status-danger-primary);
    border-color: var(--color-status-danger-contrast);
    color: var(--color-status-danger-contrast);
}

.info {
	background-color: var(--color-status-info-contrast);
    border-color: var(--color-status-info-primary);
	color: var(--color-status-info-primary);
}

.info[data-active="true"] {
	background-color: var(--color-status-info-primary);
    border-color: var(--color-status-info-contrast);
    color: var(--color-status-info-contrast);
}

.success {
	background-color: var(--color-status-success-contrast);
    border-color: var(--color-status-success-primary);
	color: var(--color-status-success-primary);
}

.success[data-active="true"] {
	background-color: var(--color-status-success-primary);
    border-color: var(--color-status-success-contrast);
    color: var(--color-status-success-contrast);
}

.warning {
	background-color: var(--color-status-warning-contrast);
    border-color: var(--color-status-warning-primary);
	color: var(--color-status-warning-primary);
}

.warning[data-active="true"] {
	background-color: var(--color-status-warning-primary);
    border-color: var(--color-status-warning-contrast);
    color: var(--color-status-warning-contrast);
}

.active {
	background-color: var(--color-status-active-contrast);
    border-color: var(--color-status-active-primary);
	color: var(--color-status-active-primary);
}

.active[data-active="true"] {
	background-color: var(--color-status-active-primary);
    border-color: var(--color-status-active-contrast);
    color: var(--color-status-active-contrast);
}