.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.input {
	outline: 2px solid var(--color-system-text-300);
	border-radius: var(--border-radius-sm);
}

.input:checked,
.input[data-indeterminate='true'] {
	outline-color: var(--color-secondary);
	background-color: var(--color-primary);
}

.labelWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-xs);
}

.label {
	margin: 0;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-semibold);
	line-height: var(font-line-height);
	color: var(--color-system-text-100);
}

.description {
	margin: 0;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	line-height: var(font-line-height);
	color: var(--color-system-text-200);
}

.error {
	margin: 0;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	line-height: var(font-line-height);
	color: var(--color-status-danger-primary);
}