/* * */
/* CONTAINER */

.container {
	display: grid;
	width: 100%;
}

/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: contents;
}

/* * */
/* GRIP */

.grip {
	--grip-width: 20px;
	--grid-gap: 7px;
	--grid-render-width: calc(var(--grip-width) - var(--grid-gap) - var(--grid-gap));
	width: var(--grid-render-width);
	height: 100px;
	margin: auto var(--grid-gap);
	cursor: grab;
	background-color: var(--color-system-border-100);
	border-radius: 999px;
}

.grip:hover {
	background-color: var(--color-system-text-300);
	opacity: 0.75;
}

.grip:active {
	cursor: grabbing;
	background-color: var(--color-system-text-300);
	opacity: 1;
}