/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	aspect-ratio: 1;
}

/* * */
/* ICON */

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1;
	font-size: 26px;
	color: var(--color-system-text-100);
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: var(--border-radius-xs);
}

.icon:hover {
	color: var(--color-contrast);
	background-color: var(--color-secondary);
}

.icon[data-active='true'],
.icon[data-active='true']:hover {
	color: var(--color-contrast);
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
}

.icon[data-disabled='true'],
.icon[data-disabled='true']:hover {
	color: var(--color-system-text-300);
	cursor: not-allowed;
}

/* * */
/* TOOLTIP */

.tooltip {
	position: absolute;
	left: 150px;
	display: none;
	padding: 10px;
	color: #000;
	background-color: blue;
}