/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	aspect-ratio: 1;
	user-select: none;
}

/* * */
/* ICON */

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1;
	font-size: 30px;
	color: var(--color-system-text-100);
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: var(--border-radius-xs);
}

.icon:hover {
	background-color: var(--color-system-background-200);
}

.icon[data-active='true'],
.icon[data-active='true']:hover {
	color: var(--color-contrast);
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.icon[data-disabled='true'],
.icon[data-disabled='true']:hover {
	color: var(--color-system-text-300);
	cursor: not-allowed;
}

/* * */
/* TOOLTIP */

.tooltip {
	position: absolute;
	left: 150px;
	display: none;
	padding: 5px 10px;
	color: var(--color-system-background-100);
	background-color: var(--color-system-text-100);
}

.container:hover .tooltip {
	display: flex;
}