.root {
	overflow: visible;
    color: var(--color-primary);
	background-color: var(--color-background);
}

.indicator {
    color: var(--color-contrast);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.label {
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);
}

.label[data-active="true"] {
    color: var(--color-contrast);
}