/* * */
/* CONTAINER */

.element {
	display: flex;
	background-color: blue;
}

/* * */
/* PROPS / SIZE */

.element[data-size="full"] {
    --spacer-size: var(--size-spacing-xs);
}

.element[data-size="sm"] {
    --spacer-size: var(--size-spacing-sm);
}

.element[data-size="md"] {
    --spacer-size: var(--size-spacing-md);
}

.element[data-size="lg"] {
    --spacer-size: var(--size-spacing-lg);
}

/* * */
/* PROPS / ORIENTATION */

.element[data-orientation="vertical"] {
	width: 2px;
    height: var(--spacer-size);
}

.element[data-orientation="horizontal"] {
    width: var(--spacer-size);
    height: 2px;
}
