.root {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-spacing-sm);
    padding: var(--size-spacing-sm);
    background-color: var(--color-system-background-100);
    border-bottom: 1px solid var(--color-system-border-100);
}

.title {
    color: var(--color-system-text-100);
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-lg);
}

.item {
    cursor: pointer;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    line-height: var(--font-line-height-xs);
    text-transform: uppercase;
    user-select: none;

    border: 2px solid var(--color-system-border-100);
    border-radius: var(--border-radius-xl);

    padding: 2px 10px;

    &[aria-active="true"] {
        background-color: var(--color-primary);
        border-color: var(--color-secondary);
        color: var(--color-contrast);
    }
}

.itemsWrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-spacing-sm);
}