.tooltip {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: var(font-line-height);
    color: var(--color-system-background-100);
    background-color: var(--color-system-text-100);
}
