.tooltip {
    background-color: var(--color-system-text-100);
    color: var(--color-system-background-100);
    font-size: var(--font-size-sm);
    line-height: var(--font-line-height-sm);
    font-weight: var(--font-weight-semibold);
}
